*,
:after,
:before {
  box-sizing: border-box;
}

.folding__article {
  cursor: pointer;
  display: block;
  position: relative;
  perspective: 1000px;
  animation-name: animateIn;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.folding__article:before {
  content: "";
  position: absolute;
  top: calc(8px * -2);
  left: calc(8px * -2);
  border: 2px dashed rgb(0, 0, 0);
  background-image: repeating-linear-gradient(
    -24deg,
    transparent,
    transparent 4px,
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.5) 5px
  );
  z-index: -1;
}

.folding__article,
.folding__article:before {
  width: 280px;
  height: 280px;
}

.folding__link {
  background-color: #fff;
  border: 2px solid rgb(0, 0, 0);
  display: block;
  width: 100%;
  height: 100%;
}

.folding__link:after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(8px * 3);
  width: calc(8px * 2);
  height: calc(8px * 2);
  margin-top: calc(8px * -1);
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
  -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity 0.5s ease-in, transform 0.3s ease-in-out 0ms;
}

.folding__content {
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: calc(8px * 2);
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(0, 0, 0);
}

.folding__content--lhs {
  clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
}

.folding__content--rhs {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  transition: transform 0.5s ease-in-out, background-color 0.4s ease-in-out;
}

.folding__title {
  font-size: calc(8px * 4);
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.folding__footer {
  margin-top: auto;
  font-size: calc(8px * 2);
  line-height: calc(8px * 2);
  display: flex;
  justify-content: space-between;
}

.folding__link:hover .folding__content--rhs {
  background-color: #f5f5f5;
  transform: rotateY(-50deg);
}

.folding__link:hover:after {
  opacity: 1;
  transform: translateX(calc(8px * 1.5));
  transition: opacity 0.5s ease-in, transform 0.3s ease-in-out 0.25s;
}
